<body>
    <%- include("./header.ejs") %>
    <div class="container">
        <div class="row">
          <div class="col"></div>

          <div class="col-6">
            <h2><%- title %></h2>
            <form method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nume</span>
                <input type="text" value="<%- s.last_name %>" name="last_name" class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Prenume</span>
                <input type="text" value="<%- s.first_name %>" name="first_name" class="form-control">
            </div>
    
            <button type="submit" class="btn btn-primary btn-block">Modifica</button>
            </form>

          </div>
          <div class="col"></div>
        </div>
    </div>
    <%- include("./footer.ejs") %>
</body>